* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;;
}

body {
    background-color: lightblue;
}

main {
    background-color: white;
    width: 800px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 3px rgb(rgb(180, 51, 51), green, blue);
}